*{
margin: 0;
padding: 0;

}

#fontcss{
	font-family: 'noto serif KR', sans-serif;
font-variant: small-caps;
font-size: 4em;
font-style:Georgia;
font-weight: 300;
}
.ab {
	font-family: 'noto serif KR', sans-serif;
font-variant: small-caps;
font-size: 4em;
font-style:Georgia;
font-weight: 300;
	color: white;
}