*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
main{
  width: 75%; margin: 50px auto;
  border: 1px solid gray;
  display: grid; color: red;
  grid-template-rows: 60px 100px 200px 60px;
  grid-template-columns: repeat(3, 1fr) 150;
  grid-gap: 20px;
}

.div1{background-color: orange;
grid-column: 1/-1;}
.div2{ background-color: black; }
.div3{ background-color: yellow; }
.div4{ background-color: silver; }
.div5{ background-color: blue; 
grid-row: 2/4; grid-column: 4/5;}
.div6{ background-color: green; 
  grid-column:1/ 4; }
.div7{ background-color: darkred; 
grid-column: 1/-1;}
